body {
    margin: 0;
    padding: 10px;
    min-width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    text-align: center;
    border: 5px solid #5f9341;
}
h1 {
    font-size: 3em;
    text-align: center;
    color: #5f9341;
    margin: 0 auto 10px;
    border-bottom: 5px solid #5f9341;
    width: 50%;
}
input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
    margin-bottom: 5px;
}
button {
    background-color: #5f9341;
    color: white;
    padding: 2%;
    border: 1px solid #5f9341;
    font-weight: bold;
}
#delete-btn {
    background-color: red;
    color: white;
    border: 1px solid red;
}
#download-btn {
    background-color: white;
    color: #5f9341;
}
ul {
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}
li {
    margin-top: 10px;
    text-align: left;
}
li a {
    color: #5f9341;
    text-decoration: none;
}
li a:hover {
    text-decoration: underline;
}
.btn.raised {
    box-shadow: 0 1px 2px #222;
    transition: 
      box-shadow 0.7s ease,
      transform 0.7s ease;
  }
  
  .btn.raised:hover {
    box-shadow: 0 7px 3px -3px #222;
    transform: translateY(2px)
  }