body {
    margin: 0;
    padding: 10px;
    min-width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
}
h1 {
    font-size: 3em;
    text-align: center;
    color: #5f9341;
    text-shadow: 
    0.05em 0.05em #5f9341, 
    0.1em 0.1em 0 #e9ec31;
}
input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
    margin-bottom: 5px;
}
button {
    background-color: #5f9341;
    color: white;
    padding: 1%;
    border: 1px solid #5f9341;
    font-weight: bold;
}
#delete-btn {
    background-color: white;
    color: #5f9341;
}
ul {
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}
li {
    margin-top: 5px;
}
li a {
    color: #5f9341;
}